body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}

h1 {
  font-size: 32px;
  color: #323031;
}

.todo-list {
  margin: 40px;
  padding: 10px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
}

.completed {
  background-color: #96ffa9 !important;
}

ul {
  margin: 0;
}

li {
  line-height: 40px;
  border-bottom: 1px solid #b3b3b3;
  list-style: none;
  background-color: #ffb8a9;
  position: relative;
}

li::before {
  position: absolute;
  content: '';
  height: 1rem;
  width: 1rem;
  border: 1px solid #b3b3b3;
  border-radius: 50%;
  left: -2em;
  top: 50%;
  transform: translateY(-50%);
}

